<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.egeovasi.kahve"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Kahve</name>

  <description>
      Kahve Falı uygulaması
  </description>

  <author href="https://mehmet.egeovasi.com" email="mehmet@egeovasi.com">
      Mehmet E.
  </author>
    <icon src="http://www.egeovasi.com/k/android.png" />
    <allow-navigation href="*://*.egeovasi.com/*" />
  <content src="http://www.egeovasi.com/k/" />
</widget>
